@import '../node_modules/bootstrap/less/bootstrap.less';

@font-face {
    font-family: 'Prosto Sans Bold';
    src: url('../font/prosto-sans-bold.otf');
}

@font-face {
    font-family: 'Elegant Lux Mager';
    src: url('../font/elegant-lux-mager.otf');
}

@font-family-sans-serif: 'Prosto Sans Bold', sans-serif;
@font-size-base: 18px;
@brand-primary: #F8BD15;
@highlight-color: #F16667;
@headings-color: #3BBEB5;

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

#header {
    background-image: url('../img/header-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}

#header-logo {
    margin: 10vh auto;
    height: 40vh;
}

#header-logo img {
    height: 100%;
}

#header-text {
    height: 30vh;
}

