@import '../node_modules/bootstrap/less/bootstrap.less';

@font-face {
    font-family: 'Prosto Sans Bold';
    src: url('../font/prosto-sans-bold.otf');
}

@font-face {
    font-family: 'Elegant Lux Mager';
    src: url('../font/elegant-lux-mager.otf');
}

@font-family-sans-serif: 'Elegant Lux Mager', sans-serif;
@font-size-base: 18px;
@brand-primary: #F8BD15;
@highlight-color: #F16667;
@headings-font-family: 'Prosto Sans Bold', sans-serif;
@headings-color: #3BBEB5;

html, body {
    height: 100%;
}

body {
    overflow-x: hidden;
}

.flex {
    @media (min-width: @screen-md-min) {
        display: flex;
    }
}

.flex-center-vertical {
    margin-top: auto;
    margin-bottom: auto;
}

.brand {
    color: @brand-primary;
    font-family: @headings-font-family;
}

.highlight {
    color: @highlight-color;
    font-weight: bold;
}

.animated() {
    animation-fill-mode: both;
}

@keyframes slideY {
    0% { transform: translateY(0); }
    100% { transform: translateY(-66px); }
}

@keyframes slideX {
    0% { transform: translateX(0); }
    100% { transform: translateX(-30px); }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dotTranslate {
    0% { transform: translate(30px, 64px); }
    50% { transform: translate(30px, 0); }
    100% { transform: none; }
}

@keyframes fadeInSlideDown {
    0% { opacity: 0; transform: translateY(-10%); }
    100% { opacity: 1; transform: none; }
}

@keyframes fadeInSlideUp {
    0% { opacity: 0; transform: translateY(10%); }
    100% { opacity: 1; transform: none; }
}

@header-logo-animation-duration: 2500ms;

#header-logo-dot {
    .animated();
    animation-name: dotTranslate;
    animation-duration: @header-logo-animation-duration;
}

#header-logo-vertical-trace {
    .animated();
    animation-name: slideY;
    animation-duration: @header-logo-animation-duration / 2;
}

#header-logo-horizontal-trace {
    .animated();
    animation-name: slideX;
    animation-delay: @header-logo-animation-duration / 2;
    animation-duration: @header-logo-animation-duration / 2;
}

#header-logo-leaves {
    .animated();
    animation-name: fadeIn;
    animation-delay: @header-logo-animation-duration + 200ms;
    animation-duration: 500ms;
}

#header {
    background: transparent url('../img/header-bg.png') no-repeat fixed center center / cover;
    background-size: cover;
    margin-bottom: 10vh;
}

#header-logo {
    margin: 10vh auto;
    height: 40vh;

    .animated();
    animation-name: fadeInSlideDown;
    animation-duration: @header-logo-animation-duration / 2;
}

#header-logo object {
    height: 100%;
    max-width: 100%;
}

#header-text {
    height: 30vh;
    text-shadow: 2px 2px 8px @gray-dark;
    color: @headings-color;
    font-family: 'Prosto Sans Bold';
    font-size: 25px;
    @media (min-width: @screen-sm-min) {
        font-size: 30px;
    }
    @media (min-width: @screen-md-min) {
        font-size: 35px;
    }
    @media (min-width: @screen-lg-min) {
        font-size: 40px;
    }

    .animated();
    animation-name: fadeInSlideUp;
    animation-delay: @header-logo-animation-duration + 200ms;
    animation-duration: 750ms;
}

#features, #features h3 {
    color: @highlight-color;
}

#features object {
    height: 20vh;
    max-width: 100%;
}

@keyframes icon-list-pencil {
    0% { transform: none; }
    50% { transform: rotate(1deg); }
    100% { transform: none; }
}

#icon-list-pencil {
    .animated();
    animation-duration: 500ms;
    animation-name: icon-list-pencil;
    animation-iteration-count: infinite;
}

@keyframes icon-follow-a {
    0% { opacity: 0.5; }
    10% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes icon-follow-b {
    0% { opacity: 0.5; }
    25% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes icon-follow-c {
    0% { opacity: 0.5; }
    40% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0.5; }
}

@keyframes icon-follow-d {
    0% { opacity: 0.5; }
    55% { opacity: 1; }
    70% { opacity: 1; }
    100% { opacity: 0.5; }
}

.icon-follow-pulse() {
    .animated();
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

#icon-follow-a {
    .icon-follow-pulse();
    animation-name: icon-follow-a;
}

#icon-follow-b {
    .icon-follow-pulse();
    animation-name: icon-follow-b;
}

#icon-follow-c {
    .icon-follow-pulse();
    animation-name: icon-follow-c;
}

#icon-follow-d {
    .icon-follow-pulse();
    animation-name: icon-follow-d;
}

@keyframes icon-save-coin {
    0% { opacity: 0; transform: none; }
    20% { opacity: 1; transform: none; }
    100% { opacity: 1; transform: translateY(25px); }
}

#icon-save-coin {
    animation-name: icon-save-coin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
}

#features p {
    margin-bottom: 10vh;
}

.preview p {
    margin: 2vh 0;
}

.preview .container {
    margin: 0 auto 10vh;
}

.preview img, .preview object, .preview svg {
    width: 100%;
    margin: 5vh 0;
}

.preview-title {
    font-family: 'Prosto Sans Bold';
    font-size: 50px;
    @media (min-width: @screen-md-min) {
        margin: 10vh 10vh 0;
    }
}

.preview-subtitle {
    font-family: 'Prosto Sans Bold';
    font-size: 30px;
    margin: 10vh 0;
}

#personalized .btn {
    font-family: @headings-font-family;
    padding: 2*@padding-large-vertical 2*@padding-large-horizontal;
    margin-top: 3vh;
}

#personalized {
    background-color: @headings-color;
    color: white;
}

#personalized .preview-title {
    color: @brand-primary;
}

#livetracking h1 {
    color: @gray;
    font-size: 50px;
}

#livetracking object {
    height: 50vh;
    max-width: 100%;
}

@keyframes tracking-animation {
    0% { transform: translate(0, -53.45px); }
    5% { transform: translate(0, -132px); }
    15% { transform: translate(-234px, -132px); }
    20% { transform: translate(-234px, -234px); }
    35% { transform: translate(-234px, -234px); }
    40% { transform: translate(-234px, -310px); }
    50% { transform: translate(-80px, -310px); }
    70% { transform: translate(-80px, 46px); }
    80% { transform: translate(0, 46px); }
    85% { transform: translate(0, -53.45px); }
    100% { transform: translate(0, -53.45px); }
}

@keyframes tracking-exclamation-animation {
    0% { opacity: 0; }
    20% { opacity: 0; }
    23.75% { opacity: 1; }
    27.5% { opacity: 0; }
    31.25% { opacity: 1; }
    35% { opacity: 0; }
    85% { opacity: 0; }
    88.75% { opacity: 1; }
    92.5% { opacity: 0; }
    96.25% { opacity: 1; }
    100% { opacity: 0; }
}

@tracking-animation-duration: 20s;

#tracking-dot {
    .animated();
    animation-name: tracking-animation;
    animation-iteration-count: infinite;
    animation-duration: @tracking-animation-duration;
}

#tracking-exclamation {
    .animated();
    animation-name: tracking-exclamation-animation;
    animation-iteration-count: infinite;
    animation-duration: @tracking-animation-duration;
}

#shopper-experience {
    background-color: @brand-primary;
    color: white;
}

#shopper-experience .preview-title {
    color: @highlight-color;
}

#shopper-experience .preview-subtitle {
    color: @highlight-color;
}

#retailer-experience {
    background-color: @headings-color;
    color: white;
}

#retailer-experience .preview-title {
    color: @brand-primary;
}

#retailer-experience .preview-subtitle {
    color: @brand-primary;
}

#retail-date {
    font-family: 'Prosto Sans Bold';
}

#retail-time {
    font-family: 'Prosto Sans Bold';
}

@keyframes retail-dot-a {
    0% { transform: translate(2px, -180px); }
    25% { transform: translate(-172px, -180px); }
    50% { transform: translate(-172px, 0); }
    75% { transform: translate(2px, 0px); }
    100% { transform: translate(2px, -180px); }
}

@keyframes retail-dot-b {
    0% { transform: translate(37px, -8px); }
    30% { transform: translate(37px, -272px); }
    50% { transform: translate(-78px, -272px); }
    80% { transform: translate(-78px, -8px); }
    100% { transform: translate(37px, -8px); }
}

@keyframes retail-dot-c {
    0% { transform: translate(0, 0); }
    30% { transform: translate(0, -264px); }
    50% { transform: translate(120px, -264px); }
    80% { transform: translate(120px, 0); }
    100% { transform: translate(0, 0); }
}

@keyframes retail-dot-d {
    0% { transform: translate(0, 146px); }
    30% { transform: translate(0, -116px); }
    50% { transform: translate(118px, -116px); }
    80% { transform: translate(118px, 146px); }
    100% { transform: translate(0, 146px); }
}

@keyframes retail-dot-e {
    0% { transform: translate(0, -420px); }
    25% { transform: translate(-420px, -420px); }
    50% { transform: translate(-420px, 0); }
    75% { transform: translate(0, 0); }
    100% { transform: translate(0, -420px); }
}

@retail-animation-duration: 10000ms;

.retail-dot-animation() {
    .animated();
    animation-timing-function: linear;
    animation-duration: @retail-animation-duration;
    animation-iteration-count: infinite;
}

#retail-dot-a {
    .retail-dot-animation();
    animation-name: retail-dot-a;
}

#retail-dot-b {
    .retail-dot-animation();
    animation-name: retail-dot-b;
}

#retail-dot-c {
    .retail-dot-animation();
    animation-name: retail-dot-c;
}

#retail-dot-d {
    .retail-dot-animation();
    animation-name: retail-dot-d;
}

#retail-dot-e {
    .retail-dot-animation();
    animation-name: retail-dot-e;
}

